    rofi.background: #073642
    rofi.foreground: #eee8d5
    rofi.highlightbg: #b58900
    rofi.highlightfg: #ffffff
    rofi.bordercolor: #678698
    rofi.padding: 340
    rofi.lines: 5 
    rofi.borderwidth: 0
    rofi.opacity: 85
    rofi.font: Inconsolata 12
  ! rofi.location: 1
  ! rofi.yoffset: 0
  ! rofi.xoffset: 0
    rofi.width: 100
    rofi.fixed_num_lines: 1
  ! rofi.hmode: false
  ! rofi.terminal: st
    rofi.ssh-set-title: false
    rofi.eh: 1.5
